* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --btn-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  border-radius: 24.5px;
  background: #171100;
}
.btn:hover {
  opacity: 0.8;
}
/*  class chung */
.maint-content {
  width: 1440px;
  max-width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: 28px;
  z-index: 1;
}
.header .bodyheader {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;

  padding: 8px 21px;
  font-size: 1.6rem;
}
.nav li.active a,
.nav a:hover {
  color: #171100;

  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
header .btn-sign-up {
  min-width: 144px;
}
.action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding: 80px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* khối trái */
.hero .media-block {
  width: 48%;
  position: relative;
  margin-left: 150px;
}
.hero .img {
  width: 600px;
  height: 815px;
  object-fit: cover;
}
.hero .content-block {
  width: 52%;
}
.hero .hero-sumary {
  position: absolute;
  bottom: 48px;
  left: 400px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 280px;
  padding: 24px;
}

.hero-sumary .item {
  display: flex;
  align-items: center;
}
.hero-sumary .item + .item {
  margin-top: 25px;
}

.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-sumary .icon2 {
  background-color: #fcefff;
}
.hero-sumary .icon3 {
  background-color: ##ebeaff;
}
.hero-sumary .info {
  margin-left: 16px;
}
.hero-sumary .label {
  color: #5f5b53;

  font-size: 1.4rem;

  line-height: 186%; /* 185.714% */
}
.hero-sumary .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}
/* khối phải */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 65px;
}
.hero .heading {
  color: #171100;
  font-family: calc(--font-heading);
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 167%; /* 166.667% */
  margin-top: 40px;
}
.hero .cta-group {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: var(--btn-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
  margin-left: 18px;
}
.hero .desc-recent {
  margin-top: 48px;
  margin-bottom: 8px;
}
.hero .desc-stast strong {
  margin-right: 16px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%; /* 122.727% */
}
.hero .desc-stast strong:nth-child(2) {
  margin-left: 28px;
}
